*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --off-black: hsl(0, 0%, 12%);
    --dark-grey: hsl(0, 0%, 24%);
    --grey: hsl(0, 0%, 50%);
    --light-grey: hsl(0, 0%, 76%);
    --off-white: hsl(0, 0%, 88%);

    --cell-size: 100px;
    --mark-size: calc(var(--cell-size) * .9)
}

body {
    margin: 0;
    padding: 0;

    color: var(--off-black);
    background-color: var(--off-white);

    font-family: Arial, Helvetica, sans-serif;
}

.player-selector,
.board-container,
.message-container {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 24px;
}

.players-container {
    display: flex;

    gap: 16px;
}

.player-container {
    display: flex;
    flex-direction: column;

    gap: 8px;
}

label {
    color: var(--dark-grey);
    font-size: 12px;

    padding-left: 16px;
}

input {
    height: 36px;
    padding-left: 16px;

    background-color: var(--off-white);
    border: 1px solid var(--dark-grey);

    border-radius: 16px;
}

input:focus {
    outline: none;

    border: 1px solid var(--off-black);
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    background-color: transparent !important;
    box-shadow: 0 0 0px 1000px transparent inset !important;
    color: var(--off-black) !important;
    -webkit-text-fill-color: var(--off-black) !important;
}

input,
textarea,
select {
    transition: background-color 5000s ease-in-out 0s;
}

button {
    padding: 1.4em 4.2em;

    background-color: var(--dark-grey);
    color: var(--off-white);
    border: 1px solid var(--dark-grey);

    border-radius: 24px;

    cursor: pointer;
}

button:hover {
    background-color: var(--off-black);
}

#exit {
    padding: 1em 3em;

    background-color: var(--off-white);
    color: var(--off-black);
}

#exit:hover {
    background-color: var(--light-grey);
}


.player-selector.hidden,
.board-container.hidden,
.message-container.hidden {
    display: none;
}

.board-container {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.cell {
    height: var(--cell-size);
    width: var(--cell-size);

    border: 1px solid var(--off-black);

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    cursor: pointer;
}

.cell:nth-of-type(1),
.cell:nth-of-type(2),
.cell:nth-of-type(3) {
    border-top: none;
}

.cell:nth-of-type(3),
.cell:nth-of-type(6),
.cell:nth-of-type(9) {
    border-right: none;
}

.cell:nth-of-type(7),
.cell:nth-of-type(8),
.cell:nth-of-type(9) {
    border-bottom: none;
}

.cell:nth-of-type(1),
.cell:nth-of-type(4),
.cell:nth-of-type(7) {
    border-left: none;
}

.cell.cross::before,
.cell.cross::after {
    content: "";
    position: absolute;
    width: calc(var(--mark-size) * .15);
    height: var(--mark-size);
    background-color: var(--off-black);
}

.cell.cross::before {
    transform: rotate(45deg);
}

.cell.cross::after {
    transform: rotate(-45deg);
}

.cell.circle::before,
.cell.circle::after {
    content: "";
    position: absolute;
    border-radius: 50%;
}

.cell.circle::before {
    width: var(--mark-size);
    height: var(--mark-size);
    background-color: var(--off-black);
}

.cell.circle:after {
    width: calc(var(--mark-size) * .7);
    height: calc(var(--mark-size) * .7);
    background-color: var(--off-white);
}

.message {
    font-size: 64px;
    font-weight: 600;
}